<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <img alt="Money Logo" class="logo" src="/assets/img/money.png">
  <h2>Rupiah Fractions</h2>
  <div>Please input amount of money in rupiah</div>
  <div class="inputWrapper">
    <input type="text" placeholder="Jumlah" [(ngModel)]="amount" (keyup.enter)="submit()"/>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </div>
  <div class="errorMessage" *ngIf="!isAmountValid">
    {{errorMessage}}
  </div>
  <br/>
  <div *ngIf="isAmountValid && rupiahs && rupiahs.length">
    <div><b>Rp {{currencyFormat(intAmount)}}</b></div>
    <div class="rupiahFraction" *ngFor="let rupiah of rupiahs">
      <span class="fraction">Rp {{currencyFormat(rupiah.fraction)}}</span>
      <span class="qty" *ngIf="rupiah.qty > 0">x {{rupiah.qty}}</span>
      <span class="qty" *ngIf="rupiah.qty <= 0">(no available fraction)</span>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>

